<form [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
  <p-card styleClass="auth-card">
    <ng-template pTemplate="header"></ng-template>
    <ng-template pTemplate="title">Anmelden</ng-template>
    <ng-template pTemplate="content">

      <div class="flex flex-column gap-2">
        <label htmlFor="email">E-Mail Adresse</label>
        <div class="p-input-icon-right flex flex-column">
          <i *ngIf="email.valid && email.dirty && loginForm.valid"
             class="pi pi-check-circle check-color"
             data-testid="login-username-valid-icon"></i>
          <input data-testid="login-username"
                 type="email"
                 [ngClass]="{
                  'ng-invalid ng-dirty': loginForm.invalid
                 }"
                 pInputText
                 id="email"
                 formControlName="email" />
        </div>
        <small data-testid="login-username-error-message"
               class="error-color"
               *ngIf="email.invalid && email.dirty"
               id="username-errors">{{email.errors | errorMessage}}</small>

        <label htmlFor="password">Passwort</label>
        <input data-testid="login-password"
               type="password"
               [ngClass]="{
                  'ng-invalid ng-dirty': loginForm.errors
                 }"
               pInputText
               id="password"
               formControlName="password" />

        <small *ngIf="loginForm.errors"
               class="error-color"
               data-testid="login-form-error-message">{{loginForm.errors | errorMessage}}</small>
      </div>

    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex flex-column align-items-center">
        <p-button class="w-full"
                  styleClass="w-full"
                  type="submit"
                  label="Anmelden"
                  [loading]="loading"></p-button>
        <small class="mt-4">Noch keinen Account?</small>
        <small><a data-testid="link-to-registration"
             href="/auth/register">Registrieren</a></small>
      </div>
    </ng-template>
  </p-card>
</form>