<form [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
  <p-card styleClass="auth-card">
    <ng-template pTemplate="header"></ng-template>
    <ng-template pTemplate="title">Anmelden</ng-template>
    <ng-template pTemplate="content">

      <div class="flex flex-column pb-4 mb-3 gap-2 relative">
        <label htmlFor="email">E-Mail Adresse</label>

        <div class="p-input-icon-right flex flex-column">
          <i *ngIf="email.invalid && email.dirty"
             data-testid="login-username-error-icon"
             class="pi pi-exclamation-circle error-color"></i>
          <input data-testid="login-username"
                 type="email"
                 pInputText
                 id="email"
                 formControlName="email" />
        </div>
        <small data-testid="login-username-error-message"
               class="error-message"
               *ngIf="email.invalid && email.dirty"
               id="username-errors">{{email | errorTooltip}}</small>
      </div>

      <div class="flex flex-column pb-4 relative">
        <label htmlFor="password">Passwort</label>

        <div class="p-input-icon-right flex flex-column">
          <i *ngIf="password.invalid && password.dirty"
             data-testid="login-password-error-icon"
             class="pi pi-exclamation-circle error-color"></i>
          <input data-testid="login-password"
                 type="password"
                 pInputText
                 id="password"
                 formControlName="password" />
        </div>
        <small data-testid="login-password-error-message"
               class="error-message"
               *ngIf="password.invalid && password.dirty "
               id="password-errors">{{password | errorTooltip}}</small>
      </div>

    </ng-template>
    <ng-template pTemplate="footer">
      <p-button type="submit"
                label="Anmelden"
                [loading]="loading"
                [disabled]="!loginForm.valid"></p-button>
    </ng-template>
  </p-card>
</form>
