<div
  *breakpoint="Breakpoint.LARGE; comparator: NumberComparator.greater"
  class="navigation-container">
  <ng-container *ngTemplateOutlet="navigationContent"></ng-container>
</div>

<div *breakpoint="Breakpoint.LARGE; comparator: NumberComparator.lessEquals">
  <p-sidebar
    [visible]="(sidebarVisible$ | async) ?? false"
    (visibleChange)="sidebarVisibleChange($event)">
    <ng-container *ngTemplateOutlet="navigationContent"></ng-container>
  </p-sidebar>
</div>

<ng-template #navigationContent>
  <p-panelMenu
    *ngIf="isVerified$ | async"
    [model]="userMenuItems">
  </p-panelMenu>
  <p-panelMenu
    *ngIf="isAdmin$ | async"
    [model]="adminMenuItems">
  </p-panelMenu>
</ng-template>
