@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

$breakpoint-xs: 0px;
$breakpoint-s: 600px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;

:root {
  --error-color: #e24c4c;
  --check-color: var(--primary-color);
}

body {
  margin: 0px;
}

.error-color {
  color: var(--error-color) !important;
}

.check-color {
  color: var(--check-color) !important;
}