<div class="layout-wrapper" (click)="onLayoutClick()" [ngClass]="{'layout-menu-horizontal': isHorizontal(),
                 'layout-menu-overlay': isOverlay(),
                 'layout-menu-static': isStatic(),
                 'layout-menu-slim':isSlim(),
                 'layout-menu-static-inactive': staticMenuDesktopInactive,
                 'layout-menu-mobile-active': staticMenuMobileActive,
                 'layout-menu-overlay-active':overlayMenuActive,
                 'topbar-icons-active': topbarIconsActive,
                 'p-input-filled': app.inputStyle === 'filled', 'p-ripple-disabled': !app.ripple}">

  <at-topbar></at-topbar>

  <at-rightpanel></at-rightpanel>

  <div class="layout-sidebar" (click)="onMenuClick()">
    <at-menu></at-menu>
  </div>

  <div class="layout-main">

    <at-breadcrumb></at-breadcrumb>

    <div class="layout-content">
      <router-outlet></router-outlet>
    </div>

    <at-footer></at-footer>
    <div class="layout-mask" *ngIf="staticMenuMobileActive || topbarIconsActive"></div>
  </div>
</div>
