<form [formGroup]="registerForm"
      (ngSubmit)="onSubmit()">
  <p-card styleClass="auth-card">
    <ng-template pTemplate="header"></ng-template>
    <ng-template pTemplate="title">
      <div class="text-center">Registrieren</div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="flex flex-column gap-2">
        <label htmlFor="firstname">Vorname</label>
        <div class="p-input-icon-right flex flex-column">
          <i *ngIf="firstname.valid && firstname.dirty"
             data-testid="registration-firstname-valid-icon"
             class="pi pi-check-circle check-color"></i>
          <input data-testid="registration-firstname"
                 type="text"
                 pInputText
                 id="firstname"
                 formControlName="firstname" />
        </div>
        <small data-testid="registration-firstname-error-message"
               class="error-color"
               *ngIf="firstname.invalid && firstname.dirty"
               id="username-errors">{{firstname.errors | errorMessage}}</small>

        <label htmlFor="lastname">Nachname</label>
        <div class="p-input-icon-right flex flex-column">
          <i *ngIf="lastname.valid && lastname.dirty"
             data-testid="registration-lastname-valid-icon"
             class="pi pi-check-circle check-color"></i>
          <input data-testid="registration-lastname"
                 type="text"
                 pInputText
                 id="lastname"
                 formControlName="lastname" />
        </div>
        <small data-testid="registration-lastname-error-message"
               class="error-color"
               *ngIf="lastname.invalid && lastname.dirty "
               id="username-errors">{{lastname.errors | errorMessage}}</small>

        <label htmlFor="emailAddress">E-Mail Adresse</label>
        <div class="p-input-icon-right flex flex-column">
          <i *ngIf="email.valid && email.dirty"
             data-testid="registration-mail-valid-icon"
             class="pi pi-check-circle check-color"></i>
          <input data-testid="registration-mail"
                 type="email"
                 pInputText
                 id="emailAddress"
                 formControlName="email" />
        </div>
        <small data-testid="registration-mail-error-message"
               class="error-color"
               *ngIf="email.invalid && email.dirty"
               id="username-errors">{{email.errors | errorMessage}}</small>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex flex-column align-items-center">
        <p-button class="w-full"
                  styleClass="w-full"
                  type="submit"
                  label="Jetzt Registrieren"
                  [loading]="loading"
                  [disabled]="registerForm.invalid"></p-button>
        <small class="mt-4">Bereits Registriert?</small>
        <small><a data-testid="link-to-login"
             href="/auth/login">Anmelden</a></small>
      </div>
    </ng-template>
  </p-card>
</form>