<p-table
  [value]="(namiMembers$ | async) ?? []"
  styleClass="p-datatable-striped"
  [scrollable]="true"
  scrollHeight="flex"
  [loading]="loadingNamiMembers$ | async">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      NaMi-Mitglieder
      <div>
        <p-button
          class="mr-3"
          icon="pi pi-caret-right"
          (onClick)="namiFetchDialogVisible = true"></p-button>
        <p-button
          icon="pi pi-refresh"
          (onClick)="refreshList()"></p-button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        id="firstname-header"
        pSortableColumn="firstname">
        Vorname <p-sortIcon field="firstname"></p-sortIcon>
      </th>
      <th
        id="lastname-header"
        pSortableColumn="lastname">
        Nachname <p-sortIcon field="lastname"></p-sortIcon>
      </th>
      <th
        id="rank-header"
        pSortableColumn="rank">
        Stufe <p-sortIcon field="rank"></p-sortIcon>
      </th>
      <th id="user-assignment-header">Nutzerzuordnung</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-namiMember>
    <tr>
      <td>{{ namiMember.firstname }}</td>
      <td>{{ namiMember.lastname }}</td>
      <td>
        <p-tag
          *ngIf="namiMember.rank"
          [styleClass]="namiMember.rank | rankColorClass"
          [value]="namiMember.rank"></p-tag>
      </td>
      <td class="flex flex-row align-items-center">
        <p-multiSelect
          [ngModel]="namiMember.userAssignments"
          [filter]="true"
          [filterBy]="'firstname,lastname'"
          [resetFilterOnHide]="true"
          [dataKey]="'subject'"
          [options]="(users$ | async) ?? []"
          [loading]="loadingUsers$ | async"
          (onChange)="updateUserAssignment($event, namiMember)">
          <ng-template
            let-user
            pTemplate="item">
            <div class="flex align-items-center gap-2">
              {{ user.firstname }} {{ user.lastname }}
            </div>
          </ng-template>
          <ng-template
            let-selectedUsers
            pTemplate="selectedItems">
            <p-chip
              class="p-multiselect-token"
              *ngFor="let selectedUser of selectedUsers"
              (onRemove)="removeUserAssignment(namiMember, selectedUser)"
              [removable]="true">
              <span class="p-multiselect-token-label">
                {{ selectedUser.firstname }} {{ selectedUser.lastname }}
              </span>
            </p-chip>
          </ng-template>
        </p-multiSelect>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    Insgesamt: {{ ((namiMembers$ | async) ?? []).length }}
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="namiFetchDialogVisible"
  [draggable]="false"
  [resizable]="false"
  [modal]="true">
  <ng-template pTemplate="header">Alle Mitglieder neu importieren</ng-template>
  <div class="flex flex-column">
    <input
      pInputText
      [(ngModel)]="username"
      placeholder="Mitgliedsnummer" />
    <p-password
      [feedback]="false"
      [toggleMask]="true"
      placeholder="Passwort"
      [(ngModel)]="password"></p-password>
    <input
      pInputText
      placeholder="Gruppierungsnummer"
      [(ngModel)]="groupId" />
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      label="Import Starten"
      (onClick)="startNamiImport()"></p-button>
  </ng-template>
</p-dialog>
