<p-menubar>
  <ng-template pTemplate="start">
    <p-button
      *breakpoint="Breakpoint.LARGE; comparator: NumberComparator.lessEquals"
      class="sv-sidebar-button"
      data-testid="menu-button"
      (click)="showSidebar()"
      icon="pi pi-bars"></p-button>
    <img
      *breakpoint="Breakpoint.LARGE; comparator: NumberComparator.greater"
      class="sv-logo"
      src="assets/images/dpsg_ohne.png"
      alt="DPSG-Logo"
      height="44" />
    <h2 class="sv-title">ScoutVenture</h2>
  </ng-template>
  <ng-template pTemplate="end">
    <p-avatar
      shape="circle"
      size="large"
      icon="pi pi-user"
      styleClass="mr-2"></p-avatar>
  </ng-template>
</p-menubar>
