sv-header {
  .p-menubar-start {
    display: contents;
  }

  .sv-logo,
  .sv-sidebar-button {
    margin: auto 0.75rem;
  }

  .sv-title {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    text-align: center;
    margin-right: 0.75rem;
  }
}
