<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        body {
            font-family: "Open Sans", "Helvetica Neue", sans-serif;
            background-color: #f4f4f4;
            color: #333333;
        }

        .logo {
            width: 200px;
        }

        .address {
            font-size: x-small;
            font-weight: bold;
        }

        .social img {
            width: 32px;
        }
    </style>
</head>
<body>
<h3 class="greeting" th:text="#{greetings(${recipientName})}">Hallo TESTNUTZER,</h3>

<div th:text="#{password-reset.text_1}">Du möchtest dein Passwort zurücksetzen?</div>
<div th:text="#{password-reset.text_2(${passwordResetLink})}">Dann klicke bitte auf den folgenden Link und gib ein neues
    Passwort ein:
</div>
<p th:text="#{password-reset.text_3}">Das warst nicht du? Dann musst du nichts weiter unternehmen und kannst diese EMail
    ignorieren.
</p>
<p th:text="#{regards}">Beste Grüße und Gut Pfad!</p>
<p>
    <em th:text="#{signature}">DPSG Stamm St. Franziskus Kolbermoor</em> <br/>
    <img class="logo" src="cid:mail-logo.jpg"/>
</p>
<div class="address">
    <div>DPSG Stamm St. Franziskus Kolbermoor</div>
    <div>Rainerstraße 6</div>
    <div>83059 Kolbermoor</div>
</div>

<div class="social">
    <a href="https://instagram.dpsgkolbermoor.de">
        <img src="cid:instagram.png"/>
    </a>
    <a href="https://g.co/kgs/wrB5tK">
        <img src="cid:google.png"/>
    </a>
</div>
</body>
</html>