/*Topbar*/
$topbarBgLeftColor: #B1DF21;
$topbarBgRightColor: #B1DF21;
$topbarLogoColor: #333333;
$topbarProfileTextColor: #333333;
$topbarQuickMenuIconColor1: #444444;
$topbarQuickMenuIconColor2: #444444;
$topbarQuickMenuIconColor3: #444444;
$topbarQuickMenuIconColor4: #444444;
$topbarQuickMenuButtonTextColor: #333333;
$quickMenuTooltipBgColor: #212121;
$quickMenuTooltipTextColor: #c8c8c8;
$topbarSearchInputTextColor: #333333;
$topbarSearchInputBorderColor: #444444;
$topbarSearchInputBorderFocusColor: #333333;
$topbarSearchInputIconColor: #333333;
$topbarRightPanelIconColor: #444444;
$topbarIconHoverBgColor: #8DC200;
$topbarSidebarButtonColor: #444444;

/* Topbar Profile */
$profileMenuBgColor: #212121;
$profileMenuItemTextColor: #eaeaea;
$profileMenuItemIconColor: #B1DF21;
$profileMenuItemHoverBgColor: #333333;
$profileMenuItemHoverIconColor: #8DC200;
$profileMenuItemHoverTextColor: #f4f4f4;
$profileMenuItemActiveBgColor: #8DC200;
$profileMenuItemActiveTextColor: #333333;
$profileMenuItemActiveIconColor: #333333;

/*Sidebar*/
$sidebarBgColor: #eaeaea;
$sidebarDividerColor: #d0d0d0;

$sidebarMenuItemTextColor: #333333;
$sidebarMenuItemIconColor: #a6a6a6;
$sidebarMenuItemHoverBgColor: #d0d0d0;
$sidebarMenuItemHoverIconColor: #333333;
$sidebarMenuItemHoverTextColor: #333333;
$sidebarMenuItemActiveBgColor: #B1DF21;
$sidebarMenuItemActiveTextColor: #444444;
$sidebarMenuItemActiveIconColor: #444444;

$sidebarSubmenuBgColor: #f4f4f4;
$sidebarSubmenuItemTextColor: #333333;
$sidebarSubmenuItemIconColor: #a6a6a6;
$sidebarSubmenuItemHoverBgColor: #c0c0c0;
$sidebarSubmenuItemHoverTextColor: #333333;
$sidebarSubmenuItemHoverIconColor: #333333;
$sidebarSubmenuItemActiveBgColor: #dadada;
$sidebarSubmenuItemActiveTextColor: #333333;
$sidebarSubmenuItemActiveIconColor: #333333;

$slimMenuTooltipBgColor: #212121;
$slimMenuTooltipTextColor: #ffffff;

//active router
$sidebarMenuItemActiveRouteTextColor: #2d3f47;
$sidebarMenuItemActiveRouteIconColor: #2d3f47;
$sidebarSubmenuItemActiveRouteBgColor: #eaeaea;

//mask
$maskBgColor: #212121;

/*Footer*/
$footerBgColor: #212121;
$footerTextColor: #B1DF21;
$footerIconColor: #B1DF21;

@import '../../sass/layout/_layout';
